/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }
  
  body {
    background-color: #f5f5f5;
  }
  
  /* Estilos para la imagen principal */
  .img {
    opacity: 60%;
    width: 100%;
    height: 85vh;
    background-size: cover;
    background-position: center;
    vertical-align: top;
    position: relative;
  }
  
  .centerContact {
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    padding: 0 20px;
    text-align: center;
  }
  
  .centerContact .title {
    margin-top: 300px;
    color: black;
    font-size: 55px;
    font-weight: 600;
    margin-bottom: 20px;
  }
  
  .centerContact form {
    /* ... (otros estilos del formulario) */
  }
  
  .centerContact input[type="text"],
  .centerContact input[type="tel"],
  .centerContact input[type="email"],
  .centerContact textarea,
  .centerContact select {
    /* ... (otros estilos de los campos de entrada) */
  }
  
  .centerContact input[type="submit"] {
    /* ... (otros estilos del botón Enviar) */
  }