/* Importa la fuente de Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

/* Estilos generales */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

::selection {
  color: #000;
  background: #fff;
}

nav {
  position: fixed;
  background: #1b1b1b;
  width: 100%;
  padding: 10px 0;
  max-height: 80px; /* Ajusta este valor según tus necesidades */
  z-index: 12;
}

nav .menu {
  max-width: 1250px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

/* Ajusta el tamaño de la imagen del logo */
.logo img {
  max-height: 100%; /* La imagen se ajustará al 100% de la altura del encabezado */
  max-width: 100%; /* La imagen se ajustará al 100% del ancho del encabezado */
}

/* Alinea el logo verticalmente */
.logo {
  display: flex;
  align-items: center;
}

/* Agrega espacio alrededor del logo */
.logo a {
  padding: 5px;
  padding-bottom: 0px !important;
  max-width: 90px;
  margin-left: 10px;
}

.menu ul {
  display: inline-flex;
}

.menu ul li {
  list-style: none;
  margin-left: 7px;
}

.menu ul li:first-child {
  margin-left: 0px;
}

.menu ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 15px;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.menu ul li a:hover {
  background: #fff;
  color: black;
}

.responsive {
  width: 70%;
  height: auto;
}

.img {
  opacity: 70%;
  width: 100%;
  height: 85vh;
  background-size: cover;
  background-position: center;
  background-image: url('./images/dalton.jpg');
  position: relative;
}

.centerpdf {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 1200px; /* Ajusta el valor según tu preferencia */
  height: 100%;
  overflow-x: auto; /* Agrega scroll horizontal si el PDF es demasiado ancho */
}

.centerpdf img {
  display: block;
  margin-top: 40px;
  width: 100%;
  height: auto;
}

.form-container {
  background-image: url('./images/Downtown.jpg');
  background-size: cover;
  background-position: center top; /* Alinea el fondo en la parte superior */
  background-repeat: no-repeat;
  padding: 50px 0;
  min-height: 100vh; /* Estira el fondo verticalmente */
}

.centerContact {
  position: relative; /* Cambiamos la posición a relativa */
  margin-top: 20px; /* Agregamos un margen superior */
  width: 100%;
  padding: 0 20px;
  text-align: left;
}

.centerContact .title {
  margin-top: 40px;
  color: white;
  font-size: 30px;
  margin-bottom: 20px;
  font-family: Gotham;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.08471rem;
}

.centerContact form {
  text-align: left; /* Alinea el formulario a la izquierda */
}

.centerContact label {
  margin-bottom: 5px;
  color: white;
  font-size: 14px; /* Tamaño de fuente más pequeño */
  font-family: Gotham;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.08471rem;
}

.centerContact input,
.centerContact select,
.centerContact textarea {
  width: 300px; /* Establece el ancho deseado */
  height: 40px; /* Establece la altura deseada */
  background: #FFFFFF;
  box-sizing: border-box;
  border: 1px solid #D4D4D4;
  padding: 5px;
  margin-bottom: 5px; /* Margen inferior reducido */
  border-radius: 5px;
  font-size: 14px; /* Tamaño de fuente más pequeño */
}

.centerContact textarea {
  height: 100px; /* Altura más pequeña para el área de texto */
}

.centerContact input[type="submit"] {
  width: 100px;
  height: 50px; /* Altura ligeramente mayor para el botón */
  font-size: 14px; /* Tamaño de fuente más grande para el botón */
  background: transparent !important;
  color: white !important;
  border: 1px solid white;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.08471rem;
}

.centerTitle {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  padding: 0 20px;
  text-align: center;
}

.centerTitleContact {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  padding: 0 20px;
  text-align: center;
}

.center {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  text-align: left;
  z-index: 1;
  padding-left: 20px;
}

.centerTitle .title {
  color: white;
  font-size: 40px;
  font-weight: 600;
}

.centerTitle .sub_title {
  margin-top: 20px;
  vertical-align: text-top;
  color: white;
  font-size: 28px;
  text-align: left;
  margin-left: 20px;
  font-family: Gotham;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.08471rem;
}

.center .btns {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Alineamos los botones a la izquierda */
}

.center .btns button {
  height: auto; /* Usamos la altura automática para adaptarse al contenido */
  border-radius: 5px;
  border: none;
  margin: 10px;
  margin-top: 30px;
  padding: 10px 20px; /* Ajustamos el padding horizontal */
  cursor: pointer;
  outline: none;
  transition: all 0.3s ease;
  font-size: 0.84706rem;
  line-height: 1.27059rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.13rem;
  white-space: nowrap; /* Evitamos que el texto se divida en múltiples líneas */
}

.center .btns button:first-child {
  color: white;
  background: #80b500;
}

.btns button:first-child:hover {
  background: black;
  color: white;
}

.center .btns button:last-child {
  background: transparent;
  color: white;
  border: 1px solid white;
}

.btns button:last-child:hover {
  background: black;
  color: white;
}

input[type=text],
input[type=tel],
input[type=email],
textarea,
select {
  width: 300px; /* Establece el ancho deseado */
  background: #FFFFFF;
  box-sizing: border-box;
  border: 1px solid #D4D4D4;
  padding: 5px;
  border-radius: 5px;
}

textarea {
  width: 300px; /* Establece el ancho deseado */
  height: 100px; /* Establece la altura deseada para el área de texto */
  background: #FFFFFF;
  box-sizing: border-box;
  border: 1px solid #D4D4D4;
}

input[type=text]:focus {
  border-color: #333;
}

input[type=submit] {
  height: 65px;
  width: 180px;
  border-radius: 5px;
  border: none;
  margin: 20px;
  border: 2px solid black;
  font-size: 20px;
  font-weight: 500;
  padding: 0 10px;
  cursor: pointer;
  outline: none;
  transition: all 0.3s ease;
}

input[type=submit]:last-child {
  background: white;
  color: black;
}

input[type=submit]:hover {
  background: black;
  color: white;
}

/* Rounded Social Buttons */
.rounded-social-buttons {
  text-align: center;
  background-color: #000;
}

#footer a {
  height: 56px;
  width: 56px;
  display: inline-block;
  margin: 30px;
}

.rounded-social-buttons .social-button {
  display: inline-block;
  position: relative;
  cursor: pointer;
  width: 3.125rem;
  height: 3.125rem;
  border: 0.125rem solid transparent;
  padding: 0;
  text-decoration: none;
  text-align: center;
  color: #fefefe;
  font-size: 1.5625rem;
  font-weight: normal;
  line-height: 2em;
  border-radius: 1.6875rem;
  transition: all 0.5s ease;
  margin-right: 0.25rem;
  margin-bottom: 0.25rem;
}

.rounded-social-buttons .social-button:hover,
.rounded-social-buttons .social-button:focus {
  -webkit-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
}

.rounded-social-buttons .fa-twitter,
.rounded-social-buttons .fa-facebook-f,
.rounded-social-buttons .fa-linkedin,
.rounded-social-buttons .fa-youtube,
.rounded-social-buttons .fa-instagram {
  font-size: 25px;
}

.rounded-social-buttons .social-button.facebook {
  background: #3b5998;
}

.rounded-social-buttons .social-button.facebook:hover,
.rounded-social-buttons .social-button.facebook:focus {
  color: #3b5998;
  background: #fefefe;
  border-color: #3b5998;
}

.rounded-social-buttons .social-button.twitter {
  background: #55acee;
}

.rounded-social-buttons .social-button.twitter:hover,
.rounded-social-buttons .social-button.twitter:focus {
  color: #55acee;
  background: #fefefe;
  border-color: #55acee;
}

.rounded-social-buttons .social-button.linkedin {
  background: #007bb5;
}

.rounded-social-buttons .social-button.linkedin:hover,
.rounded-social-buttons .social-button.linkedin:focus {
  color: #007bb5;
  background: #fefefe;
  border-color: #007bb5;
}

.rounded-social-buttons .social-button.whatsapp {
  background: green;
}

.rounded-social-buttons .social-button.whatsapp:hover,
.rounded-social-buttons .social-button.whatsapp:focus {
  color: green;
  background: #fefefe;
  border-color: green;
}

.rounded-social-buttons .social-button.instagram {
  background: purple;
}

.rounded-social-buttons .social-button.instagram:hover,
.rounded-social-buttons .social-button.instagram:focus {
  color: purple;
  background: #fefefe;
  border-color: purple;
}

.video-wrapper {
  width: 100%;
  height: 90vh; /* Ajustar la altura de la ventana del navegador */
  position: relative;
  overflow: hidden;
}

.video-wrapper video {
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1; /* Mover el video detrás de los botones */
}
